<a href="https://colab.research.google.com/github/Lorybs/PES_ciencia_de_dados/blob/main/ProjetoPES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 Instalando os primeiros principais pacotes

In [ ]:
!pip install pandas
!pip install scipy
!pip install matplotlib
!pip install kaggle

In [173]:
#importanto alguns pacotes
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

#2 Importanto os dados do Kaggle

In [ ]:
from google.colab import files
files.upload() #enviar o arquivo kaggle.json

In [175]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [176]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
#importando base com índices de fertilidade
!kaggle datasets download -d omarsobhy14/fertility-rate-per-country

In [ ]:
#importando dados dos países com média de tempo de escolaridade
!kaggle datasets download -d fredericksalazar/average-years-of-schooling-since-1870-2017

In [ ]:
#importando base de renda percapta dos países
!kaggle datasets download -d zgrcemta/world-gdpgdp-gdp-per-capita-and-annual-growths

In [ ]:
#importando base de país por região
!kaggle datasets download -d andradaolteanu/country-mapping-iso-continent-region

In [ ]:
!unzip \*.zip  && rm *.zip

In [225]:
fertilidade = pd.read_csv("API_SP.DYN.TFRT.IN_DS2_en_csv_v2_5455118.csv")

In [183]:
escolaridade = pd.read_csv("mean-years-of-schooling-long-run.csv", sep=";")

In [184]:
percapta = pd.read_csv("gdp_per_capita.csv")

In [185]:
regiao = pd.read_csv("continents2.csv")

# 3 Inspecionando os dados

In [226]:
fertilidade.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,4.820000,4.655000,4.471000,4.271000,4.059000,3.842000,3.625000,3.417000,...,2.117000,2.148000,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,NaN
1,Africa Eastern and Southern,AFE,6.724125,6.742752,6.762930,6.778712,6.788420,6.800322,6.810571,6.818612,...,4.808821,4.739863,4.677619,4.615671,4.570410,4.527707,4.482899,4.416902,4.354710,NaN
2,Afghanistan,AFG,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,7.320000,7.339000,...,5.696000,5.560000,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,NaN
3,Africa Western and Central,AFW,6.458448,6.471518,6.491826,6.506088,6.525355,6.541102,6.564967,6.589806,...,5.506350,5.437493,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,NaN
4,Angola,AGO,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,7.194000,7.267000,...,5.953000,5.864000,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,NaN

In [200]:
fertilidade.info

<bound method DataFrame.info of                     Country Name Country Code      1960      1961      1962  \
0                          Aruba          ABW  4.820000  4.655000  4.471000
1    Africa Eastern and Southern          AFE  6.724125  6.742752  6.762930
2                    Afghanistan          AFG  7.282000  7.284000  7.292000
3     Africa Western and Central          AFW  6.458448  6.471518  6.491826
4                         Angola          AGO  6.708000  6.790000  6.872000
..                           ...          ...       ...       ...       ...
261                       Kosovo          XKX  6.359000  6.350000  6.331000
262                  Yemen, Rep.          YEM  7.938000  7.963000  7.963000
263                 South Africa          ZAF  6.159000  6.138000  6.110000
264                       Zambia          ZMB  7.115000  7.169000  7.214000
265                     Zimbabwe          ZWE  7.220000  7.233000  7.255000

         1963      1964      1965      1966      1967  ...      2013  \
0    4.271000  4.059000  3.842000  3.625000  3.417000  ...  2.117000
1    6.778712  6.788420  6.800322  6.810571  6.818612  ...  4.808821
2    7.302000  7.304000  7.305000  7.320000  7.339000  ...  5.696000
3    6.506088  6.525355  6.541102  6.564967  6.589806  ...  5.506350
4    6.954000  7.036000  7.116000  7.194000  7.267000  ...  5.953000
..        ...       ...       ...       ...       ...  ...       ...
261  6.296000  6.126000  5.927000  5.737000  5.777000  ...  2.098000
262  7.981000  8.038000  8.067000  8.127000  8.166000  ...  4.529000
263  6.077000  6.030000  5.967000  5.907000  5.852000  ...  2.428000
264  7.249000  7.274000  7.291000  7.304000  7.317000  ...  5.026000
265  7.253000  7.261000  7.258000  7.240000  7.215000  ...  4.064000

         2014      2015      2016      2017      2018      2019      2020  \
0    2.148000  1.972000  1.953000  1.839000  1.587000  1.486000  1.325000
1    4.739863  4.677619  4.615671  4.570410  4.527707  4.482899  4.416902
2    5.560000  5.405000  5.262000  5.129000  5.002000  4.870000  4.750000
3    5.437493  5.385059  5.328709  5.255345  5.186319  5.118932  5.049329
4    5.864000  5.774000  5.686000  5.600000  5.519000  5.442000  5.371000
..        ...       ...       ...       ...       ...       ...       ...
261  1.871000  1.751000  1.658000  1.649000  1.605000  1.546000  1.529000
262  4.427000  4.322000  4.214000  4.112000  4.043000  3.963000  3.886000
263  2.424000  2.359000  2.261000  2.334000  2.418000  2.475000  2.401000
264  4.899000  4.793000  4.707000  4.614000  4.536000  4.451000  4.379000
265  3.962000  3.849000  3.771000  3.706000  3.659000  3.599000  3.545000

         2021  2022
0    1.180000   NaN
1    4.354710   NaN
2    4.643000   NaN
3    4.978662   NaN
4    5.304000   NaN
..        ...   ...
261  1.522000   NaN
262  3.795000   NaN
263  2.374000   NaN
264  4.308000   NaN
265  3.491000   NaN

[266 rows x 65 columns]>

In [191]:
escolaridade.info

<bound method DataFrame.info of            Entity Code  Year  avg_years_of_schooling
0     Afghanistan  AFG  1870                    0.01
1     Afghanistan  AFG  1875                    0.01
2     Afghanistan  AFG  1880                    0.01
3     Afghanistan  AFG  1885                    0.01
4     Afghanistan  AFG  1890                    0.01
...           ...  ...   ...                     ...
7758     Zimbabwe  ZWE  2013                    8.00
7759     Zimbabwe  ZWE  2014                    8.20
7760     Zimbabwe  ZWE  2015                    8.20
7761     Zimbabwe  ZWE  2016                    8.20
7762     Zimbabwe  ZWE  2017                    8.20

[7763 rows x 4 columns]>

In [192]:
escolaridade.head()

        Entity Code  Year  avg_years_of_schooling
0  Afghanistan  AFG  1870                    0.01
1  Afghanistan  AFG  1875                    0.01
2  Afghanistan  AFG  1880                    0.01
3  Afghanistan  AFG  1885                    0.01
4  Afghanistan  AFG  1890                    0.01

In [195]:
escolaridade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7763 entries, 0 to 7762
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  7763 non-null   object
 1   Code                    7763 non-null   object
 2   Year                    7763 non-null   int64
 3   avg_years_of_schooling  7763 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 242.7+ KB

In [197]:
percapta.head()

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,190.845484,192.337167,...,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224,NaN
2,Afghanistan,AFG,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,137.594298,160.898434,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN
3,Africa Western and Central,AFW,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,144.326212,128.582470,...,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN

In [199]:
percapta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Code          266 non-null    object
 2   1960          128 non-null    float64
 3   1961          134 non-null    float64
 4   1962          137 non-null    float64
 5   1963          137 non-null    float64
 6   1964          137 non-null    float64
 7   1965          148 non-null    float64
 8   1966          151 non-null    float64
 9   1967          154 non-null    float64
 10  1968          159 non-null    float64
 11  1969          159 non-null    float64
 12  1970          168 non-null    float64
 13  1971          171 non-null    float64
 14  1972          171 non-null    float64
 15  1973          171 non-null    float64
 16  1974          172 non-null    float64
 17  1975          174 non-null    float64
 18  1976          175 non-null    float64
 19  1977          178 non-null    float64
 20  1978          177 non-null    float64
 21  1979          178 non-null    float64
 22  1980          190 non-null    float64
 23  1981          194 non-null    float64
 24  1982          195 non-null    float64
 25  1983          196 non-null    float64
 26  1984          197 non-null    float64
 27  1985          199 non-null    float64
 28  1986          201 non-null    float64
 29  1987          205 non-null    float64
 30  1988          210 non-null    float64
 31  1989          210 non-null    float64
 32  1990          225 non-null    float64
 33  1991          220 non-null    float64
 34  1992          223 non-null    float64
 35  1993          226 non-null    float64
 36  1994          230 non-null    float64
 37  1995          240 non-null    float64
 38  1996          240 non-null    float64
 39  1997          240 non-null    float64
 40  1998          242 non-null    float64
 41  1999          243 non-null    float64
 42  2000          247 non-null    float64
 43  2001          248 non-null    float64
 44  2002          253 non-null    float64
 45  2003          253 non-null    float64
 46  2004          253 non-null    float64
 47  2005          253 non-null    float64
 48  2006          254 non-null    float64
 49  2007          254 non-null    float64
 50  2008          255 non-null    float64
 51  2009          255 non-null    float64
 52  2010          256 non-null    float64
 53  2011          258 non-null    float64
 54  2012          257 non-null    float64
 55  2013          258 non-null    float64
 56  2014          258 non-null    float64
 57  2015          257 non-null    float64
 58  2016          256 non-null    float64
 59  2017          256 non-null    float64
 60  2018          256 non-null    float64
 61  2019          253 non-null    float64
 62  2020          242 non-null    float64
 63  Unnamed: 65   0 non-null      float64
dtypes: float64(62), object(2)
memory usage: 133.1+ KB

In [201]:
regiao.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

#3 Análise Exporatória e pré processamento

In [227]:
fertilidade.shape

(266, 65)

In [228]:
fertilidade.isnull().sum()

Country Name      0
Country Code      0
1960             13
1961             14
1962             13
               ...
2018              8
2019              8
2020              7
2021              8
2022            266
Length: 65, dtype: int64

In [397]:
#ajustando o nome da coluna de sigla do país na tabela fertilidade
fertilidade.rename(columns={'Country Code':'Code'},inplace=True)

In [398]:
#transformando o ano da tabela de fertilidade em variável, ajustando para o formato final do dataset
fertilidade = pd.melt(frame = fertilidade,id_vars=['Country Name','Code'], var_name = 'Year',value_name='indice fertilidade')

<ipython-input-398-f0e3d5f571e4>:2: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  fertilidade = pd.melt(frame = fertilidade,id_vars=['Country Name','Code'], var_name = 'Year',value_name='indice fertilidade')

KeyError: ignored

In [394]:
fertilidade.head()

  Country Code        Year indice fertilidade
0   Aruba  ABW  nova_chave           ABW_1960
1   Aruba  ABW  nova_chave           ABW_1961
2   Aruba  ABW  nova_chave           ABW_1962
3   Aruba  ABW  nova_chave           ABW_1963
4   Aruba  ABW  nova_chave           ABW_1964

In [395]:
fertilidade.isnull().sum()

Country               0
Code                  0
Year                  0
indice fertilidade    0
dtype: int64

In [396]:
fertilidade['Year'] = fertilidade['Year'].astype('int')

ValueError: ignored

In [235]:
fertilidade = fertilidade.drop(fertilidade[(fertilidade['Year'] < 1960) | (fertilidade['Year'] > 2020)].index)

In [236]:
fertilidade.isnull().sum()

Country Name            0
Code                    0
Year                    0
indice fertilidade    605
dtype: int64

In [237]:
#ordenando por código do país e ano
fertilidade = fertilidade.sort_values(['Code' , 'Year'], ascending=True , ignore_index=True)

In [238]:
display(fertilidade)

      Country Name Code  Year  indice fertilidade
0            Aruba  ABW  1960               4.820
1            Aruba  ABW  1961               4.655
2            Aruba  ABW  1962               4.471
3            Aruba  ABW  1963               4.271
4            Aruba  ABW  1964               4.059
...            ...  ...   ...                 ...
16221     Zimbabwe  ZWE  2016               3.771
16222     Zimbabwe  ZWE  2017               3.706
16223     Zimbabwe  ZWE  2018               3.659
16224     Zimbabwe  ZWE  2019               3.599
16225     Zimbabwe  ZWE  2020               3.545

[16226 rows x 4 columns]

In [253]:
fertilidade = fertilidade.fillna(axis=0, method='ffill', limit=3)
fertilidade = fertilidade.fillna(axis=0, method='bfill', limit=3)

In [254]:
fertilidade.isnull().sum()

Country Name            0
Code                    0
Year                    0
indice fertilidade    354
dtype: int64

In [255]:
fertilidade.head()

  Country Name Code  Year  indice fertilidade
0        Aruba  ABW  1960               4.820
1        Aruba  ABW  1961               4.655
2        Aruba  ABW  1962               4.471
3        Aruba  ABW  1963               4.271
4        Aruba  ABW  1964               4.059

In [265]:
fertilidade.rename(columns={'indice fertilidade':'indice_fert'},inplace=True)

In [ ]:
!pip install fancyimpute
import pandas as pd
from fancyimpute import KNN

In [266]:
def preencher_ausentes_knn(fertilidade, indice_fert):
    # Extrair a coluna em um array numpy
    coluna_array = fertilidade[indice_fert].values

    # Instanciar o objeto KNN
    knn_imputer = KNN(k=5)  # Altere o valor de acordo com suas necessidades

    # Preencher os valores ausentes na coluna selecionada
    coluna_array_filled = knn_imputer.fit_transform(coluna_array.reshape(-1, 1))

    # Substituir a coluna original pelos valores preenchidos
    fertilidade[indice_fert] = coluna_array_filled.flatten()

    return fertilidade

In [ ]:
fertilidade = preencher_ausentes_knn(fertilidade, 'indice_fert')

In [268]:
display(fertilidade)

      Country Name Code  Year  indice_fert
0            Aruba  ABW  1960        4.820
1            Aruba  ABW  1961        4.655
2            Aruba  ABW  1962        4.471
3            Aruba  ABW  1963        4.271
4            Aruba  ABW  1964        4.059
...            ...  ...   ...          ...
16221     Zimbabwe  ZWE  2016        3.771
16222     Zimbabwe  ZWE  2017        3.706
16223     Zimbabwe  ZWE  2018        3.659
16224     Zimbabwe  ZWE  2019        3.599
16225     Zimbabwe  ZWE  2020        3.545

[16226 rows x 4 columns]

In [269]:
fertilidade.isnull().sum()

Country Name    0
Code            0
Year            0
indice_fert     0
dtype: int64

In [270]:
#criando uma variável chave primária do tipo string para fazer o merge com as outras bases
fertilidade['nova_chave'] = fertilidade['Code'].astype(str) + '_' + fertilidade['Year'].astype(str)

In [271]:
fertilidade = fertilidade[['nova_chave', 'Country Name', 'Code', 'Year', 'indice_fert']]

In [272]:
fertilidade.head()

  nova_chave Country Name Code  Year  indice_fert
0   ABW_1960        Aruba  ABW  1960        4.820
1   ABW_1961        Aruba  ABW  1961        4.655
2   ABW_1962        Aruba  ABW  1962        4.471
3   ABW_1963        Aruba  ABW  1963        4.271
4   ABW_1964        Aruba  ABW  1964        4.059

In [273]:
#criando uma variável chave primária do tipo string para fazer o merge com as outras bases
escolaridade['nova_chave'] = escolaridade['Code'].astype(str) + '_' + escolaridade['Year'].astype(str)

In [279]:
#simplificando nome da coluna escolaridade
escolaridade.rename(columns={'Avg Years at Shool':'Avg_Years_at_Shool'},inplace=True)

In [280]:
escolaridade.columns.values

array(['Entity', 'Code', 'Year', 'Avg_Years_at_Shool', 'nova_chave'],
      dtype=object)

In [281]:
escolaridade = escolaridade[['nova_chave', 'Entity', 'Code', 'Year', 'Avg_Years_at_Shool']]

In [283]:
escolaridade.head()

  nova_chave       Entity Code  Year  Avg_Years_at_Shool
0   AFG_1870  Afghanistan  AFG  1870                0.01
1   AFG_1875  Afghanistan  AFG  1875                0.01
2   AFG_1880  Afghanistan  AFG  1880                0.01
3   AFG_1885  Afghanistan  AFG  1885                0.01
4   AFG_1890  Afghanistan  AFG  1890                0.01

In [284]:
escolaridade.isnull().sum()

nova_chave            0
Entity                0
Code                  0
Year                  0
Avg_Years_at_Shool    0
dtype: int64

In [285]:
#ajustando nome da coluna da sigla do país
regiao.rename(columns={'alpha-3':'Code'},inplace=True)

In [286]:
regiao.head()

,name,alpha-2,Code,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [288]:
#selecionando apenas colunas necesssarias para o novo dataset
regiao.columns.values

array(['name', 'alpha-2', 'Code', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code',
       'sub-region-code', 'intermediate-region-code'], dtype=object)

In [289]:
regiaoselecionadas = ['Code' , 'region']

In [290]:
regiao2 = regiao.filter(items=regiaoselecionadas)

In [291]:
regiao2.head()

  Code   region
0  AFG     Asia
1  ALA   Europe
2  ALB   Europe
3  DZA   Africa
4  ASM  Oceania

In [292]:
regiao2.shape

(249, 2)

In [293]:
regiao2.isnull().sum()

Code      0
region    1
dtype: int64

In [294]:
regiao2.dropna(inplace= True)

In [295]:
regiao2.isnull().sum()

Code      0
region    0
dtype: int64

In [296]:
percapta.head()

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,190.845484,192.337167,...,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224,NaN
2,Afghanistan,AFG,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,137.594298,160.898434,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN
3,Africa Western and Central,AFW,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,144.326212,128.582470,...,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN

In [297]:
#transformando o ano em variável na tabela de renda percapta, ajustando para o formato final do dataset
percapta = pd.melt(frame = percapta,id_vars=['Country Name','Code'], var_name = 'Year',value_name='indice_percapta')

In [298]:
percapta.head()

                  Country Name Code  Year  indice_percapta
0                        Aruba  ABW  1960              NaN
1  Africa Eastern and Southern  AFE  1960       147.612227
2                  Afghanistan  AFG  1960        59.773234
3   Africa Western and Central  AFW  1960       107.932233
4                       Angola  AGO  1960              NaN

In [299]:
percapta['Year'].replace("Unnamed: 65",np.nan,inplace=True)

In [300]:
percapta.shape

(16492, 4)

In [301]:
percapta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16492 entries, 0 to 16491
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     16492 non-null  object
 1   Code             16492 non-null  object
 2   Year             16226 non-null  object
 3   indice_percapta  12837 non-null  float64
dtypes: float64(1), object(3)
memory usage: 515.5+ KB

In [302]:
percapta.isnull().sum()

Country Name          0
Code                  0
Year                266
indice_percapta    3655
dtype: int64

In [303]:
percapta.dropna(inplace= True)

In [304]:
percapta.isnull().sum()

Country Name       0
Code               0
Year               0
indice_percapta    0
dtype: int64

In [305]:
percapta.shape

(12837, 4)

In [306]:
#criando uma variável chave primária do tipo string para fazer o merge com as outras bases
percapta['nova_chave'] = percapta['Code'].astype(str) + '_' + percapta['Year'].astype(str)

In [307]:
percapta = percapta[['nova_chave', 'Country Name', 'Code', 'Year', 'indice_percapta']]

In [308]:
percapta.head()

   nova_chave                 Country Name Code  Year  indice_percapta
1    AFE_1960  Africa Eastern and Southern  AFE  1960       147.612227
2    AFG_1960                  Afghanistan  AFG  1960        59.773234
3    AFW_1960   Africa Western and Central  AFW  1960       107.932233
13   AUS_1960                    Australia  AUS  1960      1810.619230
14   AUT_1960                      Austria  AUT  1960       935.460427

In [340]:
#selecionando apenas colunas necesssarias para o novodataset
percapta.columns.values

array(['nova_chave', 'Country Name', 'Code', 'Year', 'indice_percapta'],
      dtype=object)

In [341]:
percaptaselecionadas = ['nova_chave' , 'indice_percapta']

In [342]:
percapta2 = percapta.filter(items=percaptaselecionadas)

In [343]:
percapta2.head()

   nova_chave  indice_percapta
1    AFE_1960       147.612227
2    AFG_1960        59.773234
3    AFW_1960       107.932233
13   AUS_1960      1810.619230
14   AUT_1960       935.460427

In [344]:
#montando um novo dataset com apenas os dados necessários
novodataset1 = pd.merge(fertilidade, escolaridade, left_on = ['nova_chave', 'Country Name', 'Code', 'Year'], how='inner',
                        right_on=['nova_chave' , 'Entity' , 'Code' , 'Year'] , validate = 'm:m')

In [345]:
display(novodataset1)

,nova_chave,Country Name,Code,Year,indice_fert,Entity,Avg_Years_at_Shool
0,AFG_1960,Afghanistan,AFG,1960,7.282,Afghanistan,0.22
1,AFG_1965,Afghanistan,AFG,1965,7.305,Afghanistan,0.29
2,AFG_1970,Afghanistan,AFG,1970,7.400,Afghanistan,0.35
3,AFG_1975,Afghanistan,AFG,1975,7.542,Afghanistan,0.62
4,AFG_1980,Afghanistan,AFG,1980,7.588,Afghanistan,0.78
...,...,...,...,...,...,...,...
4990,ZWE_2013,Zimbabwe,ZWE,2013,4.064,Zimbabwe,8.00
4991,ZWE_2014,Zimbabwe,ZWE,2014,3.962,Zimbabwe,8.20
4992,ZWE_2015,Zimbabwe,ZWE,2015,3.849,Zimbabwe,8.20
4993,ZWE_2016,Zimbabwe,ZWE,2016,3.771,Zimbabwe,8.20
4994,ZWE_2017,Zimbabwe,ZWE,2017,3.706,Zimbabwe,8.20

In [346]:
novodataset2 = pd.merge(novodataset1,percapta2, how='left', left_on=['nova_chave'], right_on=['nova_chave'])

In [347]:
display(novodataset2)

,nova_chave,Country Name,Code,Year,indice_fert,Entity,Avg_Years_at_Shool,indice_percapta
0,AFG_1960,Afghanistan,AFG,1960,7.282,Afghanistan,0.22,59.773234
1,AFG_1965,Afghanistan,AFG,1965,7.305,Afghanistan,0.29,101.108325
2,AFG_1970,Afghanistan,AFG,1970,7.400,Afghanistan,0.35,156.518771
3,AFG_1975,Afghanistan,AFG,1975,7.542,Afghanistan,0.62,186.510838
4,AFG_1980,Afghanistan,AFG,1980,7.588,Afghanistan,0.78,272.655510
...,...,...,...,...,...,...,...,...
4990,ZWE_2013,Zimbabwe,ZWE,2013,4.064,Zimbabwe,8.00,1429.998461
4991,ZWE_2014,Zimbabwe,ZWE,2014,3.962,Zimbabwe,8.20,1434.896277
4992,ZWE_2015,Zimbabwe,ZWE,2015,3.849,Zimbabwe,8.20,1445.069702
4993,ZWE_2016,Zimbabwe,ZWE,2016,3.771,Zimbabwe,8.20,1464.588957
4994,ZWE_2017,Zimbabwe,ZWE,2017,3.706,Zimbabwe,8.20,1235.189032

In [348]:
datasetfinal = pd.merge(novodataset2,regiao2, how='left', left_on=['Code'], right_on=['Code'])

In [349]:
display(datasetfinal)

,nova_chave,Country Name,Code,Year,indice_fert,Entity,Avg_Years_at_Shool,indice_percapta,region
0,AFG_1960,Afghanistan,AFG,1960,7.282,Afghanistan,0.22,59.773234,Asia
1,AFG_1965,Afghanistan,AFG,1965,7.305,Afghanistan,0.29,101.108325,Asia
2,AFG_1970,Afghanistan,AFG,1970,7.400,Afghanistan,0.35,156.518771,Asia
3,AFG_1975,Afghanistan,AFG,1975,7.542,Afghanistan,0.62,186.510838,Asia
4,AFG_1980,Afghanistan,AFG,1980,7.588,Afghanistan,0.78,272.655510,Asia
...,...,...,...,...,...,...,...,...,...
4990,ZWE_2013,Zimbabwe,ZWE,2013,4.064,Zimbabwe,8.00,1429.998461,Africa
4991,ZWE_2014,Zimbabwe,ZWE,2014,3.962,Zimbabwe,8.20,1434.896277,Africa
4992,ZWE_2015,Zimbabwe,ZWE,2015,3.849,Zimbabwe,8.20,1445.069702,Africa
4993,ZWE_2016,Zimbabwe,ZWE,2016,3.771,Zimbabwe,8.20,1464.588957,Africa
4994,ZWE_2017,Zimbabwe,ZWE,2017,3.706,Zimbabwe,8.20,1235.189032,Africa

In [350]:
datasetfinal.columns.values

array(['nova_chave', 'Country Name', 'Code', 'Year', 'indice_fert',
       'Entity', 'Avg_Years_at_Shool', 'indice_percapta', 'region'],
      dtype=object)

In [355]:
selecionadas = ['nova_chave', 'Country Name', 'Code', 'Year', 'region', 'indice_fert', 'Avg_Years_at_Shool', 'indice_percapta']

In [356]:
datasetfinal2 = datasetfinal.filter(items=selecionadas)

In [357]:
datasetfinal2 = datasetfinal2.sort_values(['Code' , 'Year'], ascending=True , ignore_index=True)

In [358]:
datasetfinal2.head()

,nova_chave,Country Name,Code,Year,region,indice_fert,Avg_Years_at_Shool,indice_percapta
0,AFG_1960,Afghanistan,AFG,1960,Asia,7.282,0.22,59.773234
1,AFG_1965,Afghanistan,AFG,1965,Asia,7.305,0.29,101.108325
2,AFG_1970,Afghanistan,AFG,1970,Asia,7.400,0.35,156.518771
3,AFG_1975,Afghanistan,AFG,1975,Asia,7.542,0.62,186.510838
4,AFG_1980,Afghanistan,AFG,1980,Asia,7.588,0.78,272.655510

In [360]:
print(datasetfinal2.isnull().sum())

nova_chave              0
Country Name            0
Code                    0
Year                    0
region                  0
indice_fert             0
Avg_Years_at_Shool      0
indice_percapta       298
dtype: int64

In [361]:
#ajustanto o tipo dos variáveis
datasetfinal2['Country Name'] = datasetfinal['Country Name'].astype('str')
datasetfinal2['Code'] = datasetfinal['Code'].astype('str')
datasetfinal2['region'] = datasetfinal['region'].astype('str')
datasetfinal2['Year'] = datasetfinal['Year'].astype('int')

In [362]:
datasetfinal2.dtypes

nova_chave             object
Country Name           object
Code                   object
Year                    int64
region                 object
indice_fert           float64
Avg_Years_at_Shool    float64
indice_percapta       float64
dtype: object

In [364]:
print(datasetfinal2['indice_percapta'].mean())
print(datasetfinal2['indice_percapta'].median())

10015.183989423727
2830.27807089131

In [367]:
datasetfinal3 = datasetfinal2

In [368]:
datasetfinal3['indice_percapta'].fillna(datasetfinal2['indice_percapta'].mean(), inplace=True)

In [371]:
print(datasetfinal2.isnull().sum())

nova_chave            0
Country Name          0
Code                  0
Year                  0
region                0
indice_fert           0
Avg_Years_at_Shool    0
indice_percapta       0
dtype: int64

#4 Normalização e discretização

In [370]:
datasetfinal3.head()

,nova_chave,Country Name,Code,Year,region,indice_fert,Avg_Years_at_Shool,indice_percapta
0,AFG_1960,Afghanistan,AFG,1960,Asia,7.282,0.22,59.773234
1,AFG_1965,Afghanistan,AFG,1965,Asia,7.305,0.29,101.108325
2,AFG_1970,Afghanistan,AFG,1970,Asia,7.400,0.35,156.518771
3,AFG_1975,Afghanistan,AFG,1975,Asia,7.542,0.62,186.510838
4,AFG_1980,Afghanistan,AFG,1980,Asia,7.588,0.78,272.655510

In [389]:
#análises descritivas antes da normalização
datasetfinal3.describe()

,nova_chave,Year,indice_fert,Avg_Years_at_Shool,indice_percapta
count,4995.000000,4995.000000,4995.000000,4995.000000,4995.000000
mean,2497.000000,1999.367768,3.362877,6.991389,10015.183989
std,1442.076628,13.964580,1.808801,3.342408,16825.478541
min,0.000000,1960.000000,0.000000,0.080000,16.596459
25%,1248.500000,1993.000000,1.820250,4.200000,852.470991
50%,2497.000000,2002.000000,2.744000,7.200000,3293.229979
75%,3745.500000,2010.000000,4.782500,9.800000,10015.183989
max,4994.000000,2017.000000,8.231000,14.100000,178864.851914

In [372]:
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#KNN
from sklearn.neighbors import KNeighborsClassifier

#SVM
from sklearn import svm

In [391]:
#ajustando tipos dos dados
datasetfinal3 = datasetfinal3['nova_chave'].astype('category')
datasetfinal3 = datasetfinal3['Country Name'].astype('category')
datasetfinal3 = datasetfinal3['Code'].astype('category')
datasetfinal3 = datasetfinal3['region'].astype('category')

KeyError: ignored

In [388]:
datasetfinal_norm['nova_chave'] = datasetfinal_norm['nova_chave'].cat.codes
#datasetfinal_norm['Country Namee'] = datasetfinal_norm['Country Name'].cat.codes
#datasetfinal_norm['Code'] = datasetfinal_norm['Code'].cat.codes
#datasetfinal_norm['region'] = datasetfinal_norm['region'].cat.codes

KeyError: ignored

In [378]:
datasetfinal_norm.dtypes

nova_chave            category
Country Name          category
Code                  category
Year                     int64
region                category
indice_fert            float64
Avg_Years_at_Shool     float64
indice_percapta        float64
dtype: object

In [380]:
datasetfinal_norm = MinMaxScaler().fit(datasetfinal3)

ValueError: ignored