<a href="https://colab.research.google.com/github/Lorybs/PES_ciencia_de_dados/blob/main/ProjetoPES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1 Instalando os primeiros principais pacotes

In [ ]:
!pip install pandas
!pip install scipy
!pip install matplotlib

In [ ]:
!pip install kaggle

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

#2 Importanto os dados do Kaggle

In [ ]:
from google.colab import files
files.upload() #enviar o arquivo kaggle.json

In [29]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [30]:
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
!kaggle datasets download -d omarsobhy14/fertility-rate-per-country

In [ ]:
!unzip \*.zip  && rm *.zip

In [32]:
fertilidade = pd.read_csv("API_SP.DYN.TFRT.IN_DS2_en_csv_v2_5455118.csv")

In [43]:
fertilidade.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,4.820000,4.655000,4.471000,4.271000,4.059000,3.842000,3.625000,3.417000,...,2.117000,2.148000,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,NaN
1,Africa Eastern and Southern,AFE,6.724125,6.742752,6.762930,6.778712,6.788420,6.800322,6.810571,6.818612,...,4.808821,4.739863,4.677619,4.615671,4.570410,4.527707,4.482899,4.416902,4.354710,NaN
2,Afghanistan,AFG,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,7.320000,7.339000,...,5.696000,5.560000,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,NaN
3,Africa Western and Central,AFW,6.458448,6.471518,6.491826,6.506088,6.525355,6.541102,6.564967,6.589806,...,5.506350,5.437493,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,NaN
4,Angola,AGO,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,7.194000,7.267000,...,5.953000,5.864000,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,NaN

In [ ]:
!kaggle datasets download -d fredericksalazar/average-years-of-schooling-since-1870-2017

In [ ]:
!unzip \*.zip  && rm *.zip

In [56]:
escolaridade = pd.read_csv("mean-years-of-schooling-long-run.csv", sep=";")

In [57]:
escolaridade.head()

        Entity Code  Year  avg_years_of_schooling
0  Afghanistan  AFG  1870                    0.01
1  Afghanistan  AFG  1875                    0.01
2  Afghanistan  AFG  1880                    0.01
3  Afghanistan  AFG  1885                    0.01
4  Afghanistan  AFG  1890                    0.01

In [89]:
escolaridade['nova_chave'] = escolaridade['Code'].astype(str) + '_' + escolaridade['Year'].astype(str)

In [90]:
escolaridade.head()

        Entity Code  Year  Years at Shool nova_chave
0  Afghanistan  AFG  1870            0.01   AFG_1870
1  Afghanistan  AFG  1875            0.01   AFG_1875
2  Afghanistan  AFG  1880            0.01   AFG_1880
3  Afghanistan  AFG  1885            0.01   AFG_1885
4  Afghanistan  AFG  1890            0.01   AFG_1890

In [ ]:
!kaggle datasets download -d zgrcemta/world-gdpgdp-gdp-per-capita-and-annual-growths

In [ ]:
!unzip \*.zip  && rm *.zip

In [41]:
percapta = pd.read_csv("gdp_per_capita.csv")

In [44]:
percapta.head()

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24712.493263,26441.619936,26893.011506,28396.908423,28452.170615,29350.805019,30253.279358,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,147.612227,147.014904,156.189192,182.243917,162.347592,180.214908,190.845484,192.337167,...,1736.166560,1713.899299,1703.596298,1549.037940,1431.778723,1573.063386,1574.978648,1530.059177,1359.618224,NaN
2,Afghanistan,AFG,59.773234,59.860900,58.458009,78.706429,82.095307,101.108325,137.594298,160.898434,...,638.845852,624.315455,614.223342,556.007221,512.012778,516.679862,485.668419,494.179350,516.747871,NaN
3,Africa Western and Central,AFW,107.932233,113.081647,118.831107,123.442888,131.854402,138.526332,144.326212,128.582470,...,1965.118485,2157.481149,2212.853135,1894.310195,1673.835527,1613.473553,1704.139603,1777.918672,1710.073363,NaN
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5100.097027,5254.881126,5408.411700,4166.979833,3506.073128,4095.810057,3289.643995,2809.626088,1776.166868,NaN

#3 Verificando os dados

In [48]:
fertilidade.rename(columns={'Country Code':'Code'},inplace=True)
fertilidade.head()

,Country Name,Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,4.820000,4.655000,4.471000,4.271000,4.059000,3.842000,3.625000,3.417000,...,2.117000,2.148000,1.972000,1.953000,1.839000,1.587000,1.486000,1.325000,1.180000,NaN
1,Africa Eastern and Southern,AFE,6.724125,6.742752,6.762930,6.778712,6.788420,6.800322,6.810571,6.818612,...,4.808821,4.739863,4.677619,4.615671,4.570410,4.527707,4.482899,4.416902,4.354710,NaN
2,Afghanistan,AFG,7.282000,7.284000,7.292000,7.302000,7.304000,7.305000,7.320000,7.339000,...,5.696000,5.560000,5.405000,5.262000,5.129000,5.002000,4.870000,4.750000,4.643000,NaN
3,Africa Western and Central,AFW,6.458448,6.471518,6.491826,6.506088,6.525355,6.541102,6.564967,6.589806,...,5.506350,5.437493,5.385059,5.328709,5.255345,5.186319,5.118932,5.049329,4.978662,NaN
4,Angola,AGO,6.708000,6.790000,6.872000,6.954000,7.036000,7.116000,7.194000,7.267000,...,5.953000,5.864000,5.774000,5.686000,5.600000,5.519000,5.442000,5.371000,5.304000,NaN

In [58]:
escolaridade.rename(columns={'avg_years_of_schooling':'Years at Shool'},inplace=True)

In [59]:
escolaridade.head()

        Entity Code  Year  Years at Shool
0  Afghanistan  AFG  1870            0.01
1  Afghanistan  AFG  1875            0.01
2  Afghanistan  AFG  1880            0.01
3  Afghanistan  AFG  1885            0.01
4  Afghanistan  AFG  1890            0.01

In [75]:
escolaridade['Year'] = escolaridade['Year'].astype('int')

In [76]:
escolaridade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7763 entries, 0 to 7762
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Entity          7763 non-null   object
 1   Code            7763 non-null   object
 2   Year            7763 non-null   int64
 3   Years at Shool  7763 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 242.7+ KB

In [60]:
fertilidade.isna().sum()

Country Name      0
Code              0
1960             13
1961             14
1962             13
               ...
2018              8
2019              8
2020              7
2021              8
2022            266
Length: 65, dtype: int64

In [61]:
fertilidade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 65 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Code          266 non-null    object
 2   1960          253 non-null    float64
 3   1961          252 non-null    float64
 4   1962          253 non-null    float64
 5   1963          252 non-null    float64
 6   1964          253 non-null    float64
 7   1965          253 non-null    float64
 8   1966          253 non-null    float64
 9   1967          253 non-null    float64
 10  1968          253 non-null    float64
 11  1969          253 non-null    float64
 12  1970          254 non-null    float64
 13  1971          254 non-null    float64
 14  1972          254 non-null    float64
 15  1973          254 non-null    float64
 16  1974          254 non-null    float64
 17  1975          255 non-null    float64
 18  1976          256 non-null    float64
 19  1977          255 non-null    float64
 20  1978          255 non-null    float64
 21  1979          255 non-null    float64
 22  1980          255 non-null    float64
 23  1981          255 non-null    float64
 24  1982          256 non-null    float64
 25  1983          255 non-null    float64
 26  1984          255 non-null    float64
 27  1985          255 non-null    float64
 28  1986          255 non-null    float64
 29  1987          256 non-null    float64
 30  1988          255 non-null    float64
 31  1989          255 non-null    float64
 32  1990          257 non-null    float64
 33  1991          256 non-null    float64
 34  1992          257 non-null    float64
 35  1993          256 non-null    float64
 36  1994          256 non-null    float64
 37  1995          257 non-null    float64
 38  1996          256 non-null    float64
 39  1997          257 non-null    float64
 40  1998          257 non-null    float64
 41  1999          257 non-null    float64
 42  2000          259 non-null    float64
 43  2001          258 non-null    float64
 44  2002          258 non-null    float64
 45  2003          258 non-null    float64
 46  2004          258 non-null    float64
 47  2005          259 non-null    float64
 48  2006          259 non-null    float64
 49  2007          259 non-null    float64
 50  2008          259 non-null    float64
 51  2009          259 non-null    float64
 52  2010          259 non-null    float64
 53  2011          258 non-null    float64
 54  2012          260 non-null    float64
 55  2013          258 non-null    float64
 56  2014          258 non-null    float64
 57  2015          259 non-null    float64
 58  2016          258 non-null    float64
 59  2017          258 non-null    float64
 60  2018          258 non-null    float64
 61  2019          258 non-null    float64
 62  2020          259 non-null    float64
 63  2021          258 non-null    float64
 64  2022          0 non-null      float64
dtypes: float64(63), object(2)
memory usage: 135.2+ KB

In [62]:
escolaridade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7763 entries, 0 to 7762
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Entity          7763 non-null   object
 1   Code            7763 non-null   object
 2   Year            7763 non-null   int64
 3   Years at Shool  7763 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 242.7+ KB

In [63]:
percapta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Code          266 non-null    object
 2   1960          128 non-null    float64
 3   1961          134 non-null    float64
 4   1962          137 non-null    float64
 5   1963          137 non-null    float64
 6   1964          137 non-null    float64
 7   1965          148 non-null    float64
 8   1966          151 non-null    float64
 9   1967          154 non-null    float64
 10  1968          159 non-null    float64
 11  1969          159 non-null    float64
 12  1970          168 non-null    float64
 13  1971          171 non-null    float64
 14  1972          171 non-null    float64
 15  1973          171 non-null    float64
 16  1974          172 non-null    float64
 17  1975          174 non-null    float64
 18  1976          175 non-null    float64
 19  1977          178 non-null    float64
 20  1978          177 non-null    float64
 21  1979          178 non-null    float64
 22  1980          190 non-null    float64
 23  1981          194 non-null    float64
 24  1982          195 non-null    float64
 25  1983          196 non-null    float64
 26  1984          197 non-null    float64
 27  1985          199 non-null    float64
 28  1986          201 non-null    float64
 29  1987          205 non-null    float64
 30  1988          210 non-null    float64
 31  1989          210 non-null    float64
 32  1990          225 non-null    float64
 33  1991          220 non-null    float64
 34  1992          223 non-null    float64
 35  1993          226 non-null    float64
 36  1994          230 non-null    float64
 37  1995          240 non-null    float64
 38  1996          240 non-null    float64
 39  1997          240 non-null    float64
 40  1998          242 non-null    float64
 41  1999          243 non-null    float64
 42  2000          247 non-null    float64
 43  2001          248 non-null    float64
 44  2002          253 non-null    float64
 45  2003          253 non-null    float64
 46  2004          253 non-null    float64
 47  2005          253 non-null    float64
 48  2006          254 non-null    float64
 49  2007          254 non-null    float64
 50  2008          255 non-null    float64
 51  2009          255 non-null    float64
 52  2010          256 non-null    float64
 53  2011          258 non-null    float64
 54  2012          257 non-null    float64
 55  2013          258 non-null    float64
 56  2014          258 non-null    float64
 57  2015          257 non-null    float64
 58  2016          256 non-null    float64
 59  2017          256 non-null    float64
 60  2018          256 non-null    float64
 61  2019          253 non-null    float64
 62  2020          242 non-null    float64
 63  Unnamed: 65   0 non-null      float64
dtypes: float64(62), object(2)
memory usage: 133.1+ KB

#4 Merge e ajuste de colunas

In [64]:
fertilidade = pd.melt(frame = fertilidade,id_vars=['Country Name','Code'], var_name = 'Year',value_name='indice fertilidade')

In [65]:
fertilidade

                      Country Name Code  Year  indice fertilidade
0                            Aruba  ABW  1960            4.820000
1      Africa Eastern and Southern  AFE  1960            6.724125
2                      Afghanistan  AFG  1960            7.282000
3       Africa Western and Central  AFW  1960            6.458448
4                           Angola  AGO  1960            6.708000
...                            ...  ...   ...                 ...
16753                       Kosovo  XKX  2022                 NaN
16754                  Yemen, Rep.  YEM  2022                 NaN
16755                 South Africa  ZAF  2022                 NaN
16756                       Zambia  ZMB  2022                 NaN
16757                     Zimbabwe  ZWE  2022                 NaN

[16758 rows x 4 columns]

In [87]:
fertilidade['nova_chave'] = fertilidade['Code'].astype(str) + '_' + fertilidade['Year'].astype(str)

In [88]:
fertilidade.head()

                  Country Name Code  Year  indice fertilidade nova_chave
0                        Aruba  ABW  1960            4.820000   ABW_1960
1  Africa Eastern and Southern  AFE  1960            6.724125   AFE_1960
2                  Afghanistan  AFG  1960            7.282000   AFG_1960
3   Africa Western and Central  AFW  1960            6.458448   AFW_1960
4                       Angola  AGO  1960            6.708000   AGO_1960

In [74]:
fertilidade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16758 entries, 0 to 16757
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country Name        16758 non-null  object
 1   Code                16758 non-null  object
 2   Year                16758 non-null  int64
 3   indice fertilidade  15879 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 523.8+ KB

In [66]:
percapta = pd.melt(frame = percapta,id_vars=['Country Name','Code'], var_name = 'Year',value_name='indice percapta')

In [67]:
percapta

                      Country Name Code         Year  indice percapta
0                            Aruba  ABW         1960              NaN
1      Africa Eastern and Southern  AFE         1960       147.612227
2                      Afghanistan  AFG         1960        59.773234
3       Africa Western and Central  AFW         1960       107.932233
4                           Angola  AGO         1960              NaN
...                            ...  ...          ...              ...
16487                       Kosovo  XKX  Unnamed: 65              NaN
16488                  Yemen, Rep.  YEM  Unnamed: 65              NaN
16489                 South Africa  ZAF  Unnamed: 65              NaN
16490                       Zambia  ZMB  Unnamed: 65              NaN
16491                     Zimbabwe  ZWE  Unnamed: 65              NaN

[16492 rows x 4 columns]

In [91]:
percapta['nova_chave'] = percapta['Code'].astype(str) + '_' + percapta['Year'].astype(str)

In [92]:
percapta.head()

                  Country Name Code  Year  indice percapta nova_chave
0                        Aruba  ABW  1960              NaN   ABW_1960
1  Africa Eastern and Southern  AFE  1960       147.612227   AFE_1960
2                  Afghanistan  AFG  1960        59.773234   AFG_1960
3   Africa Western and Central  AFW  1960       107.932233   AFW_1960
4                       Angola  AGO  1960              NaN   AGO_1960

In [96]:
novodataset1 = pd.merge(fertilidade,escolaridade, how='left', left_on=['nova_chave'], right_on=['nova_chave'])

In [97]:
novodataset1.head()

,Country Name,Code_x,Year_x,indice fertilidade,nova_chave,Entity,Code_y,Year_y,Years at Shool
0,Aruba,ABW,1960,4.820000,ABW_1960,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,1960,6.724125,AFE_1960,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1960,7.282000,AFG_1960,Afghanistan,AFG,1960.0,0.22
3,Africa Western and Central,AFW,1960,6.458448,AFW_1960,NaN,NaN,NaN,NaN
4,Angola,AGO,1960,6.708000,AGO_1960,NaN,NaN,NaN,NaN

In [98]:
novodataset2 = pd.merge(novodataset1,percapta, how='left', left_on=['nova_chave'], right_on=['nova_chave'])

In [99]:
novodataset2.head()

,Country Name_x,Code_x,Year_x,indice fertilidade,nova_chave,Entity,Code_y,Year_y,Years at Shool,Country Name_y,Code,Year,indice percapta
0,Aruba,ABW,1960,4.820000,ABW_1960,NaN,NaN,NaN,NaN,Aruba,ABW,1960,NaN
1,Africa Eastern and Southern,AFE,1960,6.724125,AFE_1960,NaN,NaN,NaN,NaN,Africa Eastern and Southern,AFE,1960,147.612227
2,Afghanistan,AFG,1960,7.282000,AFG_1960,Afghanistan,AFG,1960.0,0.22,Afghanistan,AFG,1960,59.773234
3,Africa Western and Central,AFW,1960,6.458448,AFW_1960,NaN,NaN,NaN,NaN,Africa Western and Central,AFW,1960,107.932233
4,Angola,AGO,1960,6.708000,AGO_1960,NaN,NaN,NaN,NaN,Angola,AGO,1960,NaN